/* Clases para aplicar cada fuente individualmente */
.font-goudy {
  font-family: 'Sorts Mill Goudy', serif;
}

.font-bona {
  font-family: 'Bona Nova SC', serif;
}

.font-mona {
  font-family: "Mona Sans", serif;
  font-weight: 200;
}

.font-garamond {
  font-family: 'EB Garamond', serif;
}

/* En tu archivo CSS global */
@media (max-width: 1279px) {
  .grid-responsive-1279 {
    grid-template-columns: 1fr !important;
  }
}

@media (min-width: 1280px) {
  .grid-responsive-1279 {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}